.CORRECCION{
  width: 800px;
  height: 925px;
  background:linear-gradient(180deg, #FF0000 0%, #FF00F5 100%);;
}
.OFERTAS1{
  position: relative;
  margin: 1px;
  left: 220px;
  top: 40px;
}
.TEXTOTITULO1{
  position: absolute;
  color: rgb(0, 0, 0);
   font-family: Archive;
   font-size: x-large;
   margin: 0%;
   top: 70px;
   margin-left: 450px;
   }
.DESCRIPCION1{
  position: absolute;
  color: rgb(0, 0, 0);
   font-family: Archive;
   font-size: small;
   margin: 0%;
   top: 120px;
   margin-left: 450px;
   width: 430px;
   height: 105px;
}

.TEXTOTITULO2{
  position: absolute;
  color: rgb(0, 0, 0);
   font-family: Archive;
   font-size: x-large;
   margin: 0%;
   top: 80px;
   margin-left: 1200px;
   }
.DESCRIPCION2{
  position: absolute;
  color: rgb(0, 0, 0);
   font-family: Archive;
   font-size: small;
   margin: 0%;
   top: 130px;
   margin-left: 1200px;
   width: 490px;
   height: 105px;
}  
  
  .OFERTAS2{
    position: relative;
    margin: 0%;
    margin-left: 950px;
    bottom: 230px;
   }

     .TEXTOTITULO4{
      position: absolute;
      color: rgb(0, 0, 0);
       font-family: Archive;
       font-size: x-large;
       margin: 0%;
       top: 520px;
       margin-left: 1200px;
       }
    .DESCRIPCION4{
      position: absolute;
      color: rgb(0, 0, 0);
       font-family: Archive;
       font-size: small;
       margin: 0%;
       top: 575px;
       margin-left: 1200px;
       width: 490px;
       height: 105px;
    }  
      
      .OFERTAS4{
        position: relative;
        margin: 0%;
        right: -1000px;
        bottom: 295px;
       }

       .OFERTAS33{
        position: relative;
        margin: 0%;
        right: -255px;
        bottom:  10px;
       }
       .TEXTOTITULO33{
        position: absolute;
        color: rgb(0, 0, 0);
         font-family: Archive;
         font-size: x-large;
         margin: 0%;
         top: 520px;
         margin-left: 470px;
         }
      .DESCRIPCION33{
        position: absolute;
        color: rgb(0, 0, 0);
         font-family: Archive;
         font-size: small;
         margin: 0%;
         top: 575px;
         margin-left: 470px;
         width: 420px;
         height: 105px;
      }  
      .botonHome1{
          background-color: rgb(0, 255, 149); 
          color: black; 
          border: 2px solid #FFD700;
          padding: 10px 5px;
          border-radius: 5px;
          text-decoration: none;
          width: 100px;
          margin: 10px;
          -webkit-transition-duration: 0.4s; 
          transition-duration: 0.4s;
          font-family: Archive;
          text-align: center;
          position: relative;
          top: 20px;
          }
@media (max-width: 1024px)
{
.CORRECCION {
  background: linear-gradient(180deg, #FF0000 0%, #FF00F5 100%);;
  width: 800px;
  height: 1024px;
  }

    .Nuevo{
      background-color: #008cff; 
      border: none;
      color: white;
      padding: 8px 16px;
      text-align: center;
      text-decoration: none;
      display: block;
      font-size: 16px;
      margin: 4px 2px;
      -webkit-transition-duration: 0.4s; 
      transition-duration: 0.4s;
      cursor: pointer;
      width: 10;
    }
    
      .Nuevo {
        background-color: rgb(0, 255, 149); 
        color: black; 
        border: 2px solid #FFD700;
    }
    
      .Nuevo:hover {
      background-color: #FFD700;
      color: white;
      
    }
    .OFERTAS1{
      position: relative;
      margin: 1px;
      left: 5px;
      top: 50px;
    }
    .TEXTOTITULO1{
      position: absolute;
      color: rgb(0, 0, 0);
       font-family: Archive;
       font-size: x-large;
       margin: 0%;
       top: 80px;
       margin-left: 240px;
       }
    .DESCRIPCION1{
      position: absolute;
      color: rgb(0, 0, 0);
       font-family: Archive;
       font-size: small;
       margin: 0%;
       top: 110px;
       margin-left: 240px;
       width: 400px;
       height: 105px;
    }
    
    .TEXTOTITULO2{
      position: absolute;
      color: rgb(0, 0, 0);
       font-family: Archive;
       font-size: x-large;
       margin: 0%;
       top: 350px;
       margin-left: 250px;
       }
    .DESCRIPCION2{
      position: absolute;
      color: rgb(0, 0, 0);
       font-family: Archive;
       font-size: small;
       margin: 0%;
       top: 400px;
       margin-left: 250px;
       width: 490px;
       height: 105px;
    }  
      
      .OFERTAS2{
        position: relative;
        margin: 0%;
        margin-left: 7px;
        top:50px;
       }
         .TEXTOTITULO4{
          position: absolute;
          color: rgb(0, 0, 0);
           font-family: Archive;
           font-size: x-large;
           margin: 0%;
           top: 890px;
           margin-left: 200px;
           }
        .DESCRIPCION4{
          position: absolute;
          color: rgb(0, 0, 0);
           font-family: Archive;
           font-size: small;
           margin: 0%;
           top: 950px;
           margin-left: 200px;
           width: 490px;
           height: 105px;
        }        
          .OFERTAS4{
            position: relative;
            margin: 0%;
            right: -5px;
            bottom: -80px;
           }
    
           .Nuevo {
            background-color: rgb(0, 255, 149); 
            color: black; 
            border: 2px solid #FFD700;
        }
        
          .BOTON:hover {
          background-color: #FFD700;
          color: white;
          
        }
         
        .OFERTAS33{
          position: relative;
          margin: 0%;
          right: -10px;
          bottom: -50px;
         }
         .TEXTOTITULO33{
          position: absolute;
          color: rgb(0, 0, 0);
           font-family: Archive;
           font-size: x-large;
           margin: 0%;
           top: 580px;
           margin-left: 200px;
           }
        .DESCRIPCION33{
          position: absolute;
          color: rgb(0, 0, 0);
           font-family: Archive;
           font-size: small;
           margin: 0%;
           top: 615px;
           margin-left: 200px;
           width: 420px;
           height: 105px;
        }  
        section {
          border: 2px solid lightcoral;
      }
      .botonHome1{
      background-color: rgb(0, 255, 149); 
      color: black; 
      border: 2px solid #FFD700;
      padding: 10px 5px;
      border-radius: 5px;
      text-decoration: none;
      width: 100px;
      margin: 10px;
      -webkit-transition-duration: 0.4s; 
      transition-duration: 0.4s;
      font-family: Archive;
      text-align: center;
      position: relative;
      top: 20px;
      }
    }
